.container {
  padding-left: 10px;
  padding-right: 10px;
}


body {
  background-image: url(../img/header/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.stroke{
  width: 536px;
  height: 1px;
  align-self: center;
  color: #000;
}
