.container {
  margin-left: 185px;
  margin-right: 185px;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-image: url(../../img/header/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}