.container {
  padding-left: 10px;
  padding-right: 10px;
}


body {
  background-image: url(../img/header/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.stroke{
  width: 536px;
  height: 0px;
  align-self: center;
  stroke-width: 1px;
  stroke: inherit;
}
