<svg xmlns="http://www.w3.org/2000/svg" width="536" height="2" viewBox="0 0 536 2" fill="none">
  <path d="M0 1L536 1.00005" stroke="black"/>
  </svg>
<section class="biggest">
  <div class="container">
    <h2 class="biggest__title">Введіть 3 числа</h2>
    <form class="biggest__form">
      <input type="number" placeholder="Введіть число" class="biggest__input" />
      <input type="number" placeholder="Введіть число" class="biggest__input" />
      <input type="number" placeholder="Введіть число" class="biggest__input" />
    </form>
    <p class="biggest__text">Найбільше число, яке ви ввели - число</p>
    <div></div>
  </div>
</section>
