
<section class="biggest">
  <div class="container">
    <h2 class="biggest__title">Введіть 3 числа</h2>
    <form class="biggest__form">
      <input type="number" placeholder="Введіть число" class="biggest__input" />
      <input type="number" placeholder="Введіть число" class="biggest__input" />
      <input type="number" placeholder="Введіть число" class="biggest__input" />
    </form>
    <p class="biggest__text">Найбільше число, яке ви ввели - число</p>
    <div></div>
  </div>
</section>
