<section class="calculator">
    <div class="container">
    <h1 class="calculator__title">Калькулятор</h1>
    <div class="calculator__itself">
        <input type="text" placeholder="Введіть число" class="calculator__number-input">
        <div class="calculator__buttons">
        <button type="button" class="calculator__doing-symbols">+</button>
        <button type="button" class="calculator__doing-symbols">*</button>
        <button type="button" class="calculator__doing-symbols">-</button>
        <button type="button" class="calculator__doing-symbols">/</button>
    </div>
        <input type="text" placeholder="Введіть число" class="calculator__number-input">
        <button type="button" class="calculator__doing-symbols-equal">=</button>
           <input type="none" placeholder="Результат" class="calculator__number-input">
    </div>
</div>
</section>