<section class="calculator">
    <h1 class="calculator__title">Калькулятор</h1>
    <div>
        <input type="text" placeholder="Введіть число" class="calculator__number-input">
        <button type="button" class="calculator__doing-symbols">+</button>
        <button type="button" class="calculator__doing-symbols">*</button>
        <button type="button" class="calculator__doing-symbols">-</button>
        <button type="button" class="calculator__doing-symbols">/</button>
        <input type="text" placeholder="Введіть число" class="calculator__number-input">
        <button type="button">=</button>
        <input placeholder="Результат">
    </div>
</section>