<section class="credits">
    <div class="container">
        <div class="credits__flex-box">
                <svg class="credits__left-svg credits__svg">
                    <use href="./img/credits-svg/left.svg#icon-credits-left"></use>
                </svg>

        
            <div class="credits__block">   
            <h2 class="credits__text">Наша команда</h2>
                <div class="credits__block-box">
                    <div class="credits__image-placer">
                        <img src="./img/credits/color.png" alt="" class="credits__image">
                    </div>
                    <h3 class="credits__headline">Ім’я студента</h3>
                    <p class="credits__describtion">Інформація про роботу, яку він/вона виконав/ла</p>
                    <ul class="credits__line-list">
                        <li class="credits__item"><div class="credits__item-line selected"></div></li>
                        <li class="credits__item"><div class="credits__item-line"></div></li>
                        <li class="credits__item"><div class="credits__item-line"></div></li>
                        <li class="credits__item"><div class="credits__item-line"></div></li>
                        <li class="credits__item"><div class="credits__item-line"></div></li>
                        <li class="credits__item"><div class="credits__item-line"></div></li>
                        <li class="credits__item"><div class="credits__item-line"></div></li>
                    </ul></div>
        </div>
            <svg class="credits__right-svg credits__svg">
                <use href="./img/credits-svg/right.svg#icon-credits-right"></use>
            </svg>


        </div>
        </div>
</section>