<section class="credits">
    <div class="footer__left-svg-box">
        <svg class="footer__left-svg">
            <use href="../img/credits.svg#credits-left"></use>
        </svg>
    </div>
    <div class="credits__block">    
    <div class="credits__top-line"></div>
    <h2 class="credits__text">Наша команда</h2>
        <div class="credits__block-box">
            <div class="credits__image-placer">
                <img src="../img/credits/color.png" alt="" class="credits__image">
            </div>
            <h3 class="credits__headline">Ім’я студента</h3>
            <p class="credits__describtion">Інформація про роботу, яку він/вона виконав/ла</p>
            <ul class="credits__line-list">
                <li class="credits__item"><div class="credits__item-line selected"></div></li>
                <li class="credits__item"><div class="credits__item-line"></div></li>
                <li class="credits__item"><div class="credits__item-line"></div></li>
                <li class="credits__item"><div class="credits__item-line"></div></li>
                <li class="credits__item"><div class="credits__item-line"></div></li>
                <li class="credits__item"><div class="credits__item-line"></div></li>
            </ul></div>
    <div class="credits__bottom-line"></div>
</div>
<div class="footer__right-svg-box">
    <svg class="footer__right-svg">
        <use href="../img/credits.svg#credits-right"></use>
    </svg>
</div>
</section>