
        <section class="dino">
    
    <div class="container">
        <h2 class="title">Google динозавр</h2>
        <p class="text">Натисніть "Enter" для стрибка</p>
    
        <div class="games">
            <div class="start-plate"><button class="play-button"><p class="play">Грати</p></button>
                <p class="loseMessages"></p>
            </div>
            <div class="dinos"></div>
            <div class="cactus"></div>
        </div>
        <p class="loseMessages"></p>

    </div>
</section>