<footer class="footer">
    <div class="container">
    <div class="footer__big-div">
    <svg class="footer__svg">
        <use href="./img/footer.svg#icon-footer-svg"></use>
    </svg>
    <ul class="footer__list">
        <li class="footer__item">
            <p class="footer__list-text">Тел: +38 (123) 456 78 90</p>
        </li>
        <li class="footer__item">
            <p class="footer__list-text">E-Mail: codingmagic@gmail.com</p>
        </li>
        <li class="footer__item">
            <p class="footer__list-text">Facebook: CodingMagic</p>
        </li>
        <li class="footer__item">
            <p class="footer__list-text">Twitter: CodingMagic</p>
        </li>
        <li class="footer__item">
            <p class="footer__list-text">Instagram: CodingMagic</p>
        </li>
    </ul>

    <div class="footer__right-side">
        <div class="footer__block-div">
            <ul class="footer__info-ul">
                <input placeholder="Ваша ел. адреса..." type="text" class="footer__input">
                <button type="button" class="footer__button">Підписатись</button>
            </ul>
            <p class="footer__text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
        </div>
    </div>
</div>
</div>
</footer>
<div class="footer-backdrop">
    <div class="footer-modal">
        <h2>Дякую за підписку!</h2>
        <button type="button" class="footer-modal__button">Закрити</button>
    </div>
</div>