<footer class="footer">
    <div class="container">
    <div class="footer__big-div">
    <svg class="footer__svg">
        <use href="./img/footer.svg#icon-footer-svg"></use>
    </svg>
    <ul class="footer__list">
        <li class="footer__item">
            <p class="footer__list-text">Тел: +38 (123) 456 78 90</p>
        </li>
        <li class="footer__item">
            <p class="footer__list-text">E-Mail: codingmagic@gmail.com</p>
        </li>
        <li class="footer__item">
            <p class="footer__list-text">Facebook: CodingMagic</p>
        </li>
        <li class="footer__item">
            <p class="footer__list-text">Twitter: CodingMagic</p>
        </li>
        <li class="footer__item">
            <p class="footer__list-text">Instagram: CodingMagic</p>
        </li>
    </ul>

    <div class="footer__right-side">
        <div class="footer__block-div">
            <ul class="footer__info-ul">
                <input placeholder="Ваша ел. адреса..." type="text" class="footer__input">
                <button data-modal-open type="submit" class="footer__button">Підписатись</button>
            </ul>
            <p class="footer__text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
        </div>
    </div>
</div>
</div>
</footer>
</footer>
<div data-backdrop class="footer-backdrop">
    <div data-modal class="footer-modal">
        <button data-modal-close type="button" class="footer-modal__button"><img class="modal__cross" src="./img/footer/cross.png" alt="cross"></button>
        <h2 class="footer-modal__headline">Дякую за підписку!</h2>
        <img src="./img/footer/sword.png" alt="" class="footer-modal-img">
        <img src="./img/footer/game-development.png" alt="" class="footer-modal-img first">
        <img src="./img/footer/puzzle.png" alt="" class="footer-modal-img second">
        <img src="./img/footer/tic-tac-toe.png" alt="" class="footer-modal-img third">
    </div>
</div>