<header class="header">
    <div class="container">
      <div class="modal" data-open="true">
        <div class="modal__box">
        <div class="modal__content">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black"/>
            </svg>
            <div class="modal__welcome-message">
                <h2 class="modal__text">Привіт!
                    Ви потрапили на сайт інтерактивних ігор та завдань.
                    Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
                    Бажаємо Вам гарно провести час!
                </h2>
            </div>
            <div class="modal__input-section">
                <label for="modal__name-input">Введіть своє ім'я:</label>
                <input type="text" id="modal__name-input" placeholder="Ваше ім'я...">
                <button type="button" class="modal__save-button">Зберегти</button>
            </div>
            <div class="modal__icons">
              <img src="./img/header/sword1.png" alt="Sword" class="modal__icon">
              <img src="./img/header/puzzle1.png" alt="Puzzle" class="modal__icon">
              <img src="./img/header/game-development1.png" alt="Game" class="modal__icon">
              <img src="./img/header/tic-tac-toe1.png" alt="TicTacToe" class="modal__icon">
            </div>
        </div>
      </div>
    </div>
    

         
          <div class="header__nav">
             <img src="./img/header/logo.png" class="header__logo" alt="logo">
             <ul class="header__menu">
                <li class="header__menu-item">
                  <div class="header__menu-box">
                    <a href="#" class="header__menu-link">Інтерактив</a>
                    <button type="button" class="header__list-button">
                      <svg xmlns="http://www.w3.org/2000/svg" class="header__svg-list" width="11" height="7" viewBox="0 0 11 7" fill="none">
                        <path d="M10 1L5.5 6L1 1" stroke="black" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  </div>
                  <ul class="header__submenu">
                    <li class="header__submenu-item">Числовий</li>
                    <li class="header__submenu-item">Ігровий</li>
                    <li class="header__submenu-item">Ознайомчий</li>
                  </ul>
                </li>
                <li class="header__menu-item">
                  <a href="#" class="header__menu-link">Наша команда</a>
                </li>
                <li class="header__menu-item">
                  <a href="#" class="header__menu-link">Контакти</a>
                </li>
              </ul>
              
              
            <div class="header__theme">
              <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <h2 class="header__hello">
            Вітаємо,
            <span class="header__hello-value">User</span>
        </h2>
        </div>
        
        
    </div>
    </header>
