<section class="rock-paper-scissors container">
    <h2 class="game__rock-paper-title">Камінь - ножиці - папір</h2>
    <div class="game__box">
        <div class="game__item-lst">
            <ul class="game__list">
            <l1 class="game__"><button class="game__"></button></l1>
            <l1 class="game__"><button class="game__"></button></l1>
            <l1 class="game__"><button class="game__"></button></l1>
        </ul>
            <p class="game__">Ви виграли раунд!</p>
            <button class="game__">Варіант комп’ютера</button>
        </div>
        <div class="game__">
            <p class="game__">Рахунок: <span class="game__">0</span></p>
        <p class="game__">Комп’ютер: <span class="game__">0</span></p>
        <p class="game__">Ви: <span class="game__">0</span></p>
        </div>
    </div>
</section>