<section class="game">
    <div class="container">
    <div class="game__box">
        <div class="game__list-game">
            <h2 class="game__rock-paper-title">Камінь - ножиці - папір</h2>
            <ul class="game__list">
            <l1 class="game__item-1"><button class="game__button-1"><img src="./img/rock-paper-dino/stone.png" alt="stone"></button></l1>
            <l1 class="game__item-2"><button class="game__button-2"><img src="./img/rock-paper-dino/scissors.png" alt="scissors"></button></l1>
            <l1 class="game__item-3"><button class="game__button-3"><img src="./img/rock-paper-dino/paper.png" alt="paper"></button></l1>
        </ul>
            <p class="game__win-lose"></p>
            <button class="game__pc-option"><span class="game__white-text">Варіант комп’ютера</span></button>
        </div>
        <div class="game__table">
            <p class="game__total">Рахунок: <span class="game__point-all"></span></p>
        <p class="game__pc-total">Комп’ютер: <span class="game__point-pc">0</span></p>
        <p class="game__you-total">Ви: <span class="game__point-your">0</span></p>
        </div>
    </div>
</div>
</section>