<section>
    <div class="container">
        <h1>Обери вченого/их</h1>
        <div>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
        </div>
        <div>
            <button type="button">Які вчені народилися в 19 ст.</button>
            <button type="button">Відсортувати вчених за алфавітом</button>
            <button type="button">Відсортувати вчених за кількістю прожитих років</button>
            <button type="button">Знайти вченого, який народився найпізніше</button>
            <button type="button">Знайти рік народження Albert Einshtein</button>
            <button type="button">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
            <button type="button">Видалити всіх вчених, ім’я яких починається на “А”</button>
            <button type="button">Знайти вченого, який прожив найдовше і вченого, 
                який прожив найменше</button>
            <button type="button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
        </div>
    </div>
</section>