<section class="sceinists">
    <div class="container sceinists__container">
            <h1 class="sceinists__title">Обери вченого/их</h1>
            <div class="sceinists__list">
                <p class="sceinists__item">Albert Einstein 1879-1955</p>
                <p class="sceinists__item">Isaac Newton 1643-1727</p>
                <p class="sceinists__item">Galileo Galilei 1564-1642</p>
                <p class="sceinists__item">Marie Curie 1867-1934</p>
                <p class="sceinists__item">Johannes Kepler 1571-1630</p>
                <p class="sceinists__item">Nicolaus Copernicus 1473-1543</p>
                <p class="sceinists__item">Max Planck 1858-1947</p>
                <p class="sceinists__item">Katherine Blodgett 1898-1979</p>
                <p class="sceinists__item">Ada Lovelace 1815-1852</p>
                <p class="sceinists__item">Sarah E. Goode 1855-1905</p>
                <p class="sceinists__item">Lise Meitner 1878-1968</p>
                <p class="sceinists__item">Hanna Hammarström 1829-1909</p>
            </div>
            <div class="sceinists__buttons">
                <button class="sceinists__button" type="button" id="filter-19th-century">Які вчені народилися в 19 ст.</button>
                <button class="sceinists__button" type="button">Відсортувати вчених за алфавітом</button>
                <button class="sceinists__button" type="button">Відсортувати вчених за кількістю прожитих років</button>
                <button class="sceinists__button" type="button">Знайти вченого, який народився найпізніше</button>
                <button class="sceinists__button" type="button">Знайти рік народження Albert Einstein</button>
                <button class="sceinists__button" type="button">Знайти вчених, прізвища яких починаються на літеру “С”</button>
                <button class="sceinists__button" type="button">Видалити всіх вчених, ім’я яких починається на “А”</button>
                <button class="sceinists__button" type="button">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
                <button class="sceinists__button" type="button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
                <button class="sceinists__button" type="button">RESET Sceinists</button>
            </div>
    </div>
    <div id="modal" class="modal hidden">
        <div class="modal__backdrop"></div>
        <div class="modal__content">
            <h1 id="modal-title"></h1>
            <button id="close-modal" class="modal__close">Закрити</button>
        </div>
    </div>
</section>