<svg xmlns="http://www.w3.org/2000/svg" width="536" height="2" viewBox="0 0 536 2" fill="none">
        <path d="M0 1L536 1.00005" stroke="black"/>
        </svg><section class="time">
    
    <div class="container">
        <h2 class="time__title">Калькулятор часу</h2>
            <div class="time__input-container">
                <div class="time__fix">
                    <input type="number" class="time__number-input" placeholder="Введіть число">
                    <button class="time__butotn">
                        
                    </button>
                </div>
                <p class="time__points">..............................</p>
                <h2 class="time__result">3 дн. 15:45:01</h2>
            </div>
    </div>
</section>