.biggest__number {
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.biggest__title {
  font-size: 24px;
  margin-bottom: 20px;
}


.input__clein {
  padding: 10px;
  font-size: 16px;
}

