.catch__the__square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.square {
    width: 50px;
    height: 50px;
    background-color: lightcoral;
    position: absolute;
}
