.dino {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: center;
    text-align: center;

    .title {
        color: inherit;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 36px;
    }

    .games {
        border-radius: 10px;
        width: 720px;
        height: 241px;
        flex-shrink: 0;
        background-color: white;
        border-bottom: 1px solid black;
        position: relative;
        
    }

   .dinos{
        width: 50px;
        height: 50px;
        background-image: url(../../img/rock-paper-dino/Chromedinoday.webp);
        background-size: 50px 50px;
        position: relative;
        top: 190px;
left: 20px;
    }
   .cactus{
        width: 20px;
        height: 40px;
        background-image: url(../../img/rock-paper-dino/cactus.png);
        background-size: 20px 40px;
        position: relative;

        top: 150px;
        left: 580px;
        animation: cactusMov 1.5s infinite linear;


   

    }
    @keyframes cactusMov {
        0%{
            left: 580px;
        }
    
        100%{
            left: -20px;
        }
    }
    .jump{
        animation: jump 0.3s linear ;
    }

    @keyframes jump {
        0%{
            top: 150px;
        }
        10%{
            top: 120px;
        }
        20%{
            top: 110px;
        }
        30%{
            top: 130px;
        }
        40%{
            top: 60px;
        }
        50%{
            top: 80px;
        }
        80%{
            top: 130px;
        }
        90%{
            top: 130px;
        }
        100%{
            top: 150px;
        }
    }

    .text{

        color: inherit;
font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }


    .start-plate{
        width: 750px;
        height: 241px;
        background-color: gray;
        position: relative;
        bottom: 230px;
        right: 20px;
    }
    .play-button{
        width: 182px;
        height: 35px;
        border-radius: 20px;
background: #000;
position: relative;
top: 90px;
    }

    .play{
        color: white;
        font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    .loseMessages{
        margin-top: 20px;
        color:inherit;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        color: #000;

font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}