.footer {
    padding-top: 61px;
    padding-bottom: 59px;
    display: flex;
    justify-content: center;
    
    &__big-div {
        display: flex;
        align-items: center;
        gap: 187px;
    }

    &__right-side {
        display: flex;
        margin-left: auto;
        
    }

    &__info-ul {
        display: flex;
    }

    &__block-div {
        display: block;
    }

    &__list {
        margin-right: auto;
    }

    &__list-text {
        color: inherit;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;

    }

    &__button {
        color: #FFF;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-flex;
padding: 10px;
align-items: flex-start;
gap: 10px;
border-radius: 20px;
background: #000;
border: none;
    }

    &__text {
        color: inherit;
font-family: "Montserrat Alternates";
font-size: 6px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    &__input {
        display: inline-flex;
padding: 10px 80px 10px 10px;
align-items: flex-start;
gap: 10px;
border-radius: 20px;
background: #D7D7D7;
border: none;
margin-right: 36px;
    }

    &__input:focus { 
        outline: none;
        box-shadow: none;
      }

    &__input::placeholder {
        color: #7E7E7E;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    &__svg {
        width: 165px;
height: 70px;
flex-shrink: 0;
margin-right: auto;
fill: currentColor;
    }
}

.is-hidden {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms ease, transform 250ms ease, visibility 0s linear 250ms;
}

.footer-backdrop {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease, visibility 0s linear 250ms;
}

.footer-backdrop.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms ease;
}

.footer-modal {
    padding: 83px 137px 138px 138px;
    border-radius: 20px;
    background: #FFF;
    transform: scale(1);
    opacity: 1;
    transition: opacity 250ms ease, transform 250ms ease;
}



.modal__cross {
    width: 15px;
height: 15px;
flex-shrink: 0;
position: absolute;
top: 30px;
right: 30px;
}

.footer-modal__button {
    background: transparent;
    border: none;
}

.footer-modal__headline {
    color: #000;
text-align: center;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.red {
    color: red;
}

.footer-modal-img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 69px;
    left: 43px;
}

.first {
    right: 42px;
    left: auto;
}

.second {
    top: auto;
    left: 87px;
    bottom: 70px;
}

.third {
    right: 86px;
    bottom: 70px;
    left: auto;
    top: auto;
}