.game{
padding-top: 36px;
padding-bottom: 36px;
display: flex;
justify-content:center ;

    &__rock-paper-title{
        display:flex ;
        color: inherit;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 36px;
    }

    &__white-text{
        color: #FFF;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;

    }

    &__list-game{
        display: flex;
        flex-direction: column;
align-items: center;
    }

    &__list{
        display: flex;
gap: 38px;
margin-bottom: 36px;
    }

&__item-1{

}

&__button-1{
    width: 60px;
    height: 60px;
    border-radius: 20px;
background: #000;
padding-left: 6px;
}


&__item-2{

}

&__button-2{
    width: 60px;
    height: 60px;
    border-radius: 20px;
background: #000;
padding-left: 8px;
}


    &__item-3{

    }

    &__button-3{
        width: 60px;
        height: 60px;
        border-radius: 20px;
background: #000;
padding-left: 8px;
    }

&__win-lose{

    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
}

    &__pc-option{
width: 182px;
height:35px ;
display: inline-flex;
padding: 10px 18px;
border-radius: 20px;
background: #000;
    }

    &__table{
display: flex;
flex-direction: column;
padding-top: 55px;
width: 95px;
height: 60px;
}

&__total{

}


&__pc-total{

}

&__you-total{

}
&__point-all{

}

&__total{
    color: inherit;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 20.4px */
}

&__pc-total{
    color: inherit;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 20.4px */
}

&__you-total{
    color: inherit;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 20.4px */
}

&__box{
    display: flex;
    gap: 104px;
padding-left: 190px;
}

&__your-choice {
    width: 86px;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* White text color */
   
    font-family: "Montserrat Alternates"; /* Font family */
  }

  &__your-var {
    color: white;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    align-items: center;
  }
}