.time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 84px;

    &__title {
        color: $back-icon-color;
        font-family: $base-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 36px;
    }

    &__butotn {
        border-radius: 0px 20px 20px 0px;
        background: $back-icon-color;
        width: 35px;
        height: 36px;
        padding: 10px;
        position: absolute;
        right: 1px;
        top: 1px;
    }

    &__number-input {
        border-radius: 20px;
        background: #D7D7D7;
        padding: 10px 45px 10px 10px;
        color: #7E7E7E;
        font-family: $base-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 312px;
        position: relative;
    }

    &__input-container {
        display: flex;
        gap: 30px;
    }

    &__fix {
        position: relative;
        
    }
}